:root {
  --main-font: "Gill Sans", sans-serif;
  --main-bg: #ccf;
  --usercard-bg: #a880d8;
  --usercard-hover-bg: #c8b7ef;
  --f-button-bg: #b163d9;
  --f-button-fg: #000;
  --f-button-hover-bg: #8112b2;
  --onhover-scale-rate: 1.1;
  --transition-time: .4s;
}

html,body {
  font-family: var(--main-font);
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#usersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.userCard {
  background-color: var(--usercard-bg);
  padding: 20px 50px;
  border: 1px solid;
  border-radius: 8px;
  text-align: center;
  transition: transform var(--transition-time), background-color var(--transition-time);
}

.userCard:hover {
  transform: scale(var(--onhover-scale-rate));
  background-color: var(--usercard-hover-bg);
}

.userPicture {
  max-width: 100%;
  border-radius: 30%;
  transition: border-radius var(--transition-time), transform var(--transition-time);
}

.userPicture:hover {
  transform: scale(var(--onhover-scale-rate));
  border-radius: 0;
}

p {
  margin: 10px 0;
  font-size: 18px;
}

#users-amount{
  display: block;
  margin: 20px auto;
  font-size: 1.2em;
  text-align: center;
  border-radius: 10px;
}

#fetchButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--f-button-bg);
  color: var(--f-button-fg);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform var(--transition-time), background-color var(--transition-time);
}

#fetchButton:hover {
  transform: scale(var(--onhover-scale-rate));
  background-color: var(--f-button-hover-bg);
}
